body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  color:white;
}
.nav-link:hover{
  color:black;
  background-color: white;
  border-radius: 10px;
}
.cards{
  /* border-radius: 10px; */
  transition:1s;
}
.cards:hover{
  transform:scale(1.1);
  z-index:2;
}
/* .card:hover{
  transform:scale(1.3);
  z-index:2;
} */


a{
  color:#d1b5d6;
}

.clock{
  color:#ecbbec;
}
.newsapp{
  color:#ecbbec;
}
